@{
    ViewBag.Title = "Inicio";
}

@model SPE.Store.Web.Models.ProductsListViewModel

<div class="jumbotron">
    <h1>SPE Store</h1>
    <p class="lead">Compra los mejores libros sobre ORMs de todos los lenguajes: C#, PHP, Java, Python...</p>
</div>

<div class="row">
    <h3 class="text-center">Libros más vendidos</h3>

    @foreach (var product in Model.Products)
    {
        @Html.Partial("Product", product)
    }

</div>