body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container .jumbotron {
    background: url('./Images/photo-1429051883746-afd9d56fbdaf.jpg');
    color: #ffffff;
    text-shadow: 0 1px 0 black;

}

.thumbnail > img {
    max-width: 325px;
    padding-top: 8px;
}

.thumbnail .btn-lg{
    margin-top: 12px;
}

.list-group
{
    font-size: 18px;
    font-weight: bold;
}